---
import "../styles/global.css";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout>
  <Section title="NEAREST GIGS">
    <Link
      href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcatnapcash.com%2Fwp-content%2Fuploads%2F2025%2F04%2Frussian-blue-cat-sleeping-coming-soon-768x768.webp&f=1&nofb=1&ipt=0d0ff1e981550641c5873155134673bc2db1c549ba79514c7dbe0f066c9551e1"
      title="2026.05.30 - Drone Day 2026"
      buttonText="Georgia, Tbilisi, Rev"
      highlight
    />
    <Link
      href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcatnapcash.com%2Fwp-content%2Fuploads%2F2025%2F04%2Frussian-blue-cat-sleeping-coming-soon-768x768.webp&f=1&nofb=1&ipt=0d0ff1e981550641c5873155134673bc2db1c549ba79514c7dbe0f066c9551e1"
      buttonText="2026.06.18 - ?"
      description="Germany, Berlin, ?"
    />
  </Section>

  <Section title="VIDEOS">
    <Link
      href="https://www.youtube.com/watch?v=tv2gppuefWk"
      buttonText="Live at Funkwerke Vol. 10"
    />
    <Link
      href="https://youtu.be/kGD297T_kp4"
      buttonText="Jam at market"
      description="with NastySoNasty"
    />
    <Link
      href="https://vimeo.com/737309175"
      buttonText="Jam at water heating unit"
      description="with NastySoNasty"
    />
    <Link
      href="https://www.youtube.com/watch?v=qHHREqYl7Ws"
      buttonText="Jam at Laguna Vere"
      description="with NastySoNasty"
    />
    <Link
      href="https://www.youtube.com/watch?v=dYvzJB0JjlM&list=PLpuY8DDNvl2UYPHjKbf_KKObfYdAzwqKv&index=1"
      buttonText="Youtube"
      description="videos playlist"
    />
  </Section>

  <Section title="SOUND">
    <Link
      href="http://soundcloud.com/jammonrush"
      buttonText="Soundcloud"
      description="Jam & live"
    />
    <Link
      href="http://soundcloud.com/cotton_rust"
      buttonText="Soundcloud"
      description="Digital releases"
    />
    <Link
      href="https://cotton-rust.bandcamp.com"
      buttonText="Bandcamp"
      description="Releases"
    />
  </Section>

  <Section title="CONTACT">
    <Link
      href="http://instagram.com/cotton_rust"
      buttonText="Instagram"
      description=""
    />
    <Link
      href="mailto:cottonrust@damndev.org"
      buttonText="E-Mail"
      description=""
    />
  </Section>
</Layout>
