---
import "../styles/global.css";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout>
  <div class="flex flex-col gap-10">
    <Section title="FRESH!">
      <Link
        href="https://cotton-rust.bandcamp.com/track/drone-day-2025"
        title="Drone day 2025"
        buttonText="live rec here"
      />
      <Link
        href="https://cotton-rust.bandcamp.com/album/gloomy-moths-cotton-rust"
        buttonText="Digital and tape release"
        description="with Goomy Moths"
      />

      <Link
        href="http://instagram.com/cotton_rust"
        buttonText="Instagram"
        description="stories, concerts, jams, rehearsals, announcements, contacts"
      />
    </Section>

    <Section title="VIDEOS">
      <Link
        href="https://www.youtube.com/watch?v=tv2gppuefWk"
        buttonText="Live at Funkwerke Vol. 10"
      />
      <Link
        href="https://youtu.be/kGD297T_kp4"
        buttonText="Jam at market"
        description="with NastySoNasty"
      />
      <Link
        href="https://vimeo.com/737309175"
        buttonText="Jam at water heating unit"
        description="with NastySoNasty"
      />
      <Link
        href="https://www.youtube.com/watch?v=qHHREqYl7Ws"
        buttonText="Jam at Laguna Vere"
        description="with NastySoNasty"
      />
      <Link
        href="https://www.youtube.com/watch?v=dYvzJB0JjlM&list=PLpuY8DDNvl2UYPHjKbf_KKObfYdAzwqKv&index=1"
        buttonText="Youtube"
        description="videos playlist"
      />
    </Section>

    <Section title="SOUND">
      <Link
        href="http://soundcloud.com/jammonrush"
        buttonText="Soundcloud"
        description="Jam & live"
      />
      <Link
        href="http://soundcloud.com/cotton_rust"
        buttonText="Soundcloud"
        description="Digital releases"
      />
      <Link
        href="https://cotton-rust.bandcamp.com"
        buttonText="Bandcamp"
        description="Releases"
      />
    </Section>
  </div>
</Layout>
